.formLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
    padding: 30px;
}


.formLogin label{
    font-size: 1.3em;
    margin-bottom: 5px;
    }

.formLogin input{
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.445);
    margin-bottom: 5px;
}

.formLogin button{
    background: #0860d3c5;
    border-radius: 40px;
    color: #ffffffc9;
    font-size: .95em;
    cursor: pointer;
}


.formLogin button:hover{
    background: #0860d3;
 
}